body {
    background-color: white;
    scroll-behavior: smooth;
}

.blackBackground {
    background-color: rgb(20, 20, 20);
}

.end {
    padding-bottom: 5%;
}


/*textes*/
.font {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;

    padding-top: 40px;
}

h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;

    padding-top: 30px;
}

h3 {
    color: white;
    text-align: center;

    padding-top: 30px;
}

p {
    color: white;
    text-align: center;

    padding-top: 20px;
}

label {
    color: white;
}


/*navbar*/
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

#home {
    scroll-margin-top: 30px;
}

#about {
    scroll-margin-top: 30px;
}

#team {
    scroll-margin-top: 30px;
}

#contacts {
    scroll-margin-top: 30px;
}


/*accueil*/
.gif {
    display: flex;
    justify-content: center;

    padding-top: 20px;
}

.gif img {
    height: 35%;
    width: 35%;
}


/*a propos*/
.video {
    display: flex;
    justify-content: center;  
    
    margin-top: 10px;
}


/*equipe*/
.card h5 {
    text-align: center;
}

.card p {
    color: black;
    text-align: center;
}

.team h3 {
    padding-bottom: 20px;
}


/*contacts*/
.contacts {
    padding-left: 10%;
    padding-right: 10%;
}